@page "/fetchdata"

@using NoMoreException.Data
@using BusinessLayer.Dtos
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                <td>@forecasts.Id</td>
                <td>@forecasts.AttachmentNr</td>
            </tr>
            forecasts*@
            @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Id</td>
                <td>@((int)forecast.AttachmentType)</td>
                <td>@forecast.AttachmentData.ToString()</td>
                <td>@forecast.AttachmentNr</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<AttachmentDto> forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
